

.items {
  display: flex;
  justify-content: center;
  width: calc(25% - 15px);
  margin: 20px 7.5px 0;
}
/* .items:nth-of-type(5n) {
  margin-right: 0;
} */
.about-me-wrap {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .items {
    width: calc(33.333% - 15px);
  }
  .about-me-wrap {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .about-me-ico-wrap {
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .items {
    width: calc(50% - 15px);
  }
}