
/* my skills items S */
.items {
  display: flex;
  justify-content: center;
  width: calc(25% - 15px);
  margin: 20px 7.5px 0;
}
/* my skills items E */
.about-me-wrap {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  /* my skills items S */
  .items {
    width: calc(33.333% - 15px);
  }
  /* my skills items E */
  .about-me-wrap {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .about-me-ico-wrap {
    text-align: center;
  }
  .profile-img-wrap {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 600px) {
  /* my skills items S */
  .items {
    width: calc(50% - 15px);
  }
  /* my skills items E */
}