/* Reset */
 * {outline:0 !important;}
html,body,h1,h2,h3,h4,h5,h6,div,p,blockquote,pre,code,address,ul,ol,li,menu,nav,section,article,aside,
dl,dt,dd,table,thead,tbody,tfoot,label,caption,th,td,form,fieldset,legend,hr,input,button,textarea,object,figure,figcaption {margin:0;padding:0;margin-bottom: 0;}
html, body{width:100%;}
html{-webkit-touch-callout:none; -webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
body{width:100%; background:#fff; min-width:320px; -webkit-text-size-adjust:none;word-wrap:break-word;word-break:break-all;}
body {border:none; color:#000;}
ul,ol,li{list-style:none;}
table{width:100%;border-spacing:0;border-collapse:collapse;}
img,fieldset{border:0;}
address,cite,code,em{font-style:normal;font-weight:normal;}
label,img,input,select,textarea,button{vertical-align:middle;}
.hide,caption,legend{line-height:0;font-size:1px;overflow:hidden;}
hr{display:none;}
main,header,section,nav,footer,aside,article,figure{display:block;}
a{color:#000;text-decoration:none;}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0.5rem;
}
label {
	display: inline-block;
	margin-bottom: 0.5rem;
}

.clear {clear:both;}
.clear:after { content:""; display:block; clear:both;}

html,
body {
	cursor: default !important;
}
a,
label,
button, 
input[type="radio"], 
input[type="submit"], 
input[type="checkbox"] {
	cursor: pointer;
}

button[disabled], 
input[disabled] {
	cursor: default;
}

input {
  font-size: 16px;
}
.nes-btn {
	cursor: pointer !important;
}
a, button{
	cursor: pointer !important;
}
/* btn */


/* nes.css S */
.nes-btn.is-main {
	background-color: #33bdb2 !important;
	color: #fff;
}
.nes-btn.is-main:hover {
	background-color: #008b82 !important;
	color: #fff;
}
.nes-btn.is-main::after {
	box-shadow: inset -4px -4px #005d56;
}
.nes-btn.is-main:hover::after {
  box-shadow: inset -6px -6px #005d56
}
.nes-btn.is-main:focus {
  box-shadow: none
}

.nes-btn.is-main:active:not(.is-disabled)::after {
  box-shadow: none
}

.nes-btn.is-small {
	padding: 2px 3px;
}

.nes-checkbox {
	cursor: pointer;
}
.nes-checkbox+span {
	cursor: pointer !important;
}
.checkbox-label {
	cursor: pointer !important;
}

.main-wrap {
	padding-top: 100px;
	margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
	.main-wrap {
		padding-top: 90px;
	}
	.nes-btn:hover {
		background-color: #fff !important;
	}
}
/* nes.css E */

body {
	background-color: #fff;
	color: #000;
}
body.dark {
	background-color: #212529;
	color: #fff;
}
body.dark .MuiMenu-list {
	background-color: #000;
}
body.dark .nes-list.is-disc li::before {
	color: white;
}
/* nes.css dark S */
.nes-container {
	margin: 0 auto !important;
}
.nes-container.is-dark {
	margin: 0 auto !important;
}
.nes-btn.is-small.is-dark {
	border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(255,255,255)" /></svg>') !important;
}
.nes-input.is-dark, .nes-textarea.is-dark {
	border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(255,255,255)" /></svg>') !important;
}
/* nes.css dark E */

